{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for venue in areas %}
    {% if loop.index==1 or venue.city!=loop.previtem.city %}
        <h3>{{ venue.city }}, {{ venue.state }}</h3>
    {% endif %}
    <ul class="items">
        <li>
            <a href="/venues/{{ venue.id }}">
                <i class="fas fa-music"></i>
                <div class="item">
                    <h5>{{ venue.name }}</h5>
                </div>
            </a>
        </li>
    </ul>
{% endfor %}
{% endblock %}